{% extends "base.html" %}

{% block content %}
    <form method="POST">
        <input type="text" name="titulo-tarefa"
        id="titulo-tarefa" placeholder="titulo da tarefa" 
        required>
        <input type="date" name="data-conclusao"
         id="data-conclusao">
        <button type="submit">Adicionar</button>
    </form>
    <p>{{ tarefa.titulo_tarefa }} - {{ tarefa.data_conclusao }}</p>



<div class="lista-tarefas">
    {% for tarefa in tarefas %}
        <div class="tarefa">
            <span class="info">
                {{ tarefa.titulo_tarefa }} - {{ tarefa.data_conclusao }}
            </span>
        </div>
    {% endfor %}
</div>



{% endblock %}
